* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    margin-bottom: 50px;
}

h2 {
    font-size: 36px;
    line-height:35px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
    color:#ffffff
}

p {
    font-size: 16px;
}


li {

    display:inline;
    justify-content: right;
}

ul {
    text-align:right;
    margin-bottom: 20;
    font-size: 18px;
}

.header h1 {
    display: inline;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 5px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
    margin-right: 10px;
    float:right;
}


a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}


.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    display:block;
    width:100%;
    margin-right: 25px;
    min-height:100px;
    
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-container {
    margin:auto;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
    color:#ffffff
}

.middle-boxes {
    margin-bottom:30px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    position: relative;
}

.middle-boxes img {
    position:relative;
    margin-bottom: 40px;
}

img {
    display: block;
    margin: 40px;
    max-width: 260px;

}





.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer {
    font-size: 20px;
}